@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  color-scheme: light dark;

  /* White */
  color: white;
  background-color: #ffffff;

  /*Dark*/
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #24252d;  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #149ddd;
  --nav-color: #a8a9b4;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@theme {
  --color-subtitle: #00d1ff;
  --font-inter: "Inter", serif;
  --font-nav-font: "Poppins", sans-serif;
  --font-heading-font: "Raleway", serif;
  --font-default-roboto: "Roboto", serif;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
